<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQWaveButtonDEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9511BC281F3C3632003E3E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9511BC411F3C3632003E3E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9511BC4C1F3C3632003E3E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
